
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    display: flex;
    height: 100vh;
    overflow-y: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
}
.image-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(209, 209, 209, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.fullscreen-image {
    max-width: 90%;
    max-height: 90%;
    transition: transform 0.3s ease;
}
.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
.org-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
    min-width: 950px;
}
.box {
border: 2px solid black;
padding: 10px;
display: inline-block;
background-color: #f3f3f3;
font-weight: bold;
width: 200px;
text-align: center;
border-radius: 5px;  /* Ensure rounded corners */
transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;  /* Smooth animation */
}

.box:hover {
    transform: scale(1.05);  /* Slightly increase size on hover */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);  /* Optional shadow effect */
}

.connector {
    width: 2px;
    height: 20px;
    background-color: black;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-vertical{
    height: 110px;
    width: 2px;
    background-color: black;
    margin: auto;
    position: absolute;
}

.horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
}
.horizontal .connector {
    width: 40px;
    height: 2px;
    background-color: black;
}
.level {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.sub-level {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.vertical-line {
    height: 50px;
    width: 2px;
    background-color: black;
    margin: auto;
}
.bottom-lines {
    display: flex;
    justify-content: center;
    align-items: start;

}
.bottom-lines .connector {
    height: 2px;
    width: 250px;
    background-color: black;
}

.header{
    font-size: 1em;
    font-weight: 600;
    margin: 5px;
}
.box{
    font-weight: 400;
    font-size: 0.9em;
    background-color: #f3f3f3;
    z-index: 3;
}

.box.not-visible{
    border-color: transparent;
}
.box.not-visible:hover{
    transform: scale(1.00); 
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); 
}
.connector.not-visible{
    background-color: transparent;
}