:root{
  --cool-gray: #9F9EAD;
  --dim-gray: #6F676B;
  --rose-quartz: #AFA4A5;
  --eerie-black: #1C1C1C;
  --white: #F3F3F3;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F3F3F3;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    opacity: 0;
    visibility:hidden;
  }
  
  body.loaded {
    visibility: visible;
    opacity: 1;
  }
/* Default styles for larger screens */
.menu_maker {
  display: flex;
  flex-direction: column; /* Row direction by default */
  width: 100%;
}
/* Initially hide projects */
.link-wrapper {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Animation class to fade-in and slide-up */
.link-wrapper.animate {
  opacity: 1;
  transform: translateY(0);
}

/* Styles for the tabs */
.tabs {
  display: flex; /* Align tabs in a row */
  margin-right: 15px; /* Space between tabs */
  align-items: center;
  justify-content: space-evenly;
}
.tab-active {
  color: var(--dim-gray); /* Example active color */
  border-bottom: 2px solid var(--dim-gray); /* Active indicator for main tabs */
  width: auto;
}
#portfolio-container{
  min-height: 60vh;
}
/* Styles for the subtabs */
.featured_projects .dropdown-content p {
  color: var(--dim-gray); /* Default color for subtabs */
  text-align: center;
}

/* Active state styles for subtabs */
.subtab.tab-active {
  color: var(--dim-gray); /* Example active color for active subtab */
  border-bottom: none; /* No border for active subtabs */
}

/* Remove border for all subtabs */
.dropdown-content p {
  border-bottom: none; /* Ensure no border for subtabs */
  font-size: 1.1em;
  padding: 15px;
  cursor: pointer;
}

/* Dropdown structure */
.dropdown {
  position: relative; /* Important for positioning the absolute dropdown */
}

/* Dropdown content */
.dropdown-content {
  display: none; /* Keep it hidden by default */
  position: absolute; /* Position absolutely */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center it properly */
  top: 100%; /* Position it directly below the tab */
  background-color: #f3f3f3;
  max-width: 350px; /* Set a max-width */
  z-index: 1; /* Ensure it appears above other content */
  padding: 0; /* Remove padding if necessary */
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
  display: block; /* Show dropdown when hovering */
}

/* Media query for small screens */
@media (max-width: 900px) {


  .dropdown-content {
    display: block; /* Show dropdown by default for small screens */
    position: relative; /* Change to relative to take up space in the menu */
    background-color: #f3f3f3; /* Ensure consistent background color */
    min-width: 200px; /* Set a minimum width */
    margin-top: 0; /* No top margin, as it will take up space in the flow */
  }

  /* Styles for the subtabs */
  .featured_projects .dropdown-content p {
    padding: 10px; /* Adjust padding if necessary */
  }

  /* Optionally, you might want to add some spacing between tabs */
  .tab {
    margin-bottom: 10px; /* Space between tabs */
  }
}


/* Media query for screens smaller than 1300px */
@media (max-width: 900px) {
  .menu_maker {
      display: block; /* Change to block display */
  }


}

/* Media query for screens smaller than 1300px */
@media (max-width: 900px) {
  .menu_maker {
      display: block; /* Change to block display */
  }

  .tabs {
      display: flex;
      flex-direction: column; /* Change to column direction */
      margin: 0; /* Reset margin to avoid spacing issues */
  }
  /* Optionally, you might want to add some spacing between tabs */
  .tab {
      margin-bottom: 10px; /* Space between tabs */
  }

}
.featured_projects .text-blk {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  line-height: 25px;
  margin-top: 40px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.featured_projects * {
  font-family: Nunito, sans-serif;
}
.featured_projects .responsive-container-block {
    min-height: 300px; /* Adjust based on average content height */
    height: fit-content; /* Keep if you want it to adjust */
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}


.featured_projects .container-block {
  min-height: 300px; /* As already done, ensure space is reserved */
  height: auto; 
  width: 100%;
  padding: 10px;
  display: block;
}

.featured_projects .responsive-container-block.bg {
  max-width: 1500px;
  min-height: 500px; /* Reserve sufficient space */

  margin: 0;
  height: auto;
}

.featured_projects .container-block.bg {
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured_projects .responsive-container-block.content {
  justify-content: space-evenly;
}

.featured_projects .im {
  width: 100%;
  background-color: var(--dim-gray);
  height: auto;
  aspect-ratio: 16 / 9; /* Use the appropriate aspect ratio for your images */

}

.featured_projects .responsive-container-block.img {
  width: 100%;
  position: relative;
  height: 100%;
  padding: 2px;
  margin: 0;
}

.link-wrapper {
  position: relative;
  width: 33.3%;
  height: auto;
  max-height: 400px;
  max-width: 600px;
  padding: 2px;
  margin: 0;
  display: inline-block;
  vertical-align: top;
}


.featured_projects .responsive-container-block.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  min-height: 300px; /* Ensure minimum space is reserved */
  margin: 10px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured_projects .responsive-container-block.desc {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #f3f3f3;
  text-align: center;
  background-color: #6f676bb0;
  padding: 10px;
}

.featured_projects .responsive-container-block.opt-cont {
  width: 100%;
  align-items: center;
  margin: 20px 0 5px;
}


.featured_projects .text-blk.tab {
  font-size: 20px;
  line-height: 10.1px;
  display: flex;
  align-items: center;
  color: #999999;
  font-weight: 500;
  margin-bottom: 2vh;
  cursor: pointer;
  text-align: center;
}


/* Active state styles */
.tab-active{
  color: var(--dim-gray); /* Example active color */
  border-bottom: 2px solid var(--dim-gray); /* Example active indicator */
  width: auto;
}

.subtab .tab-active{
  color: var(--dim-gray); /* Example active color */
  border-bottom: 0px solid var(--dim-gray); /* Example active indicator */
  width: auto;
}

.featured_projects .text-blk.title {
  font-size: 23px;
  font-weight: 600;
  padding: 10px;
}

.featured_projects .text-blk.info {
  font-size: 20px;
  padding: 10px;
}

@media(max-width:1300px){
.featured_projects .text-blk.tab {
  font-size: 14px;

}

.dropdown-content p {
  font-size: 14px;
  padding: 12px;
}

}

.featured_projects .text-blk.heading {
  font-size: 25px;
  line-height: 34.1px;
  color: var(--dim-gray);
  font-weight: 700;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: var(--dim-gray);
}

.featured_projects .tab:hover {
  cursor: pointer;
}

.featured_projects .bg {
  padding: 0 0 0 0;
  margin: 0 auto 0 auto;
}

.featured_projects .content {
  padding: 0 0 0 0;
}

.featured_projects .opt-cont {
  min-height: auto;
  padding: 0 0 0 0;
}

@media (max-width: 1024px) {
  .featured_projects .text-blk.info {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
}


@media (max-width: 1300px) {

  .featured_projects .container-block.bg {
      max-width: 900px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .featured_projects .im {
    width: 100%;
    height: 100%;
  }

  .link-wrapper {
    width: 50%;
    position: relative;
    height: auto;
    padding: 0;
    margin: 0;
  }

.featured_projects .responsive-container-block.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 10px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured_projects .responsive-container-block.desc {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  background-color: #6f676ba1; /* Adjust opacity as needed */
  padding: 10px;
}

  .featured_projects .responsive-container-block.img.hide {
    display: contents;

  }

  .featured_projects .responsive-container-block.img.hide.hidden {
    display: none;
  }

}

@media (max-width: 768px) {
  .featured_projects .im {
    width: 100%;
  }

  .link-wrapper {
    width: 60%;
  }

  .featured_projects .responsive-container-block.img.hide {
    display: none;
  }

  .featured_projects .responsive-container-block.img.hide.hidden {
    display: none;
  }

  .featured_projects .responsive-container-block.opt-cont {
    flex-direction: column;

  }

  .featured_projects .responsive-container-block.opt-cont {
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
  }
  .featured_projects .text-blk .tab{
    font-size: 0.5rem;
  }
}

@media (max-width: 500px) {
  .featured_projects .im {
    width: 100%;
  }

  .featured_projects .im {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .link-wrapper {
    width: 100%;
  }

  .featured_projects .responsive-container-block.opt-cont {
    flex-direction: column;
    justify-content: space-between;

  }

  .featured_projects .responsive-container-block.img.hidden {
    display: none;
  }

  .featured_projects .text-blk.info {
    font-size: 15px;
    line-height: 22px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
  }

  .featured_projects .text-blk.title {
    font-size: 17px;
    line-height: 22px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
  }

}
@media (max-width: 768px) {
  .featured_projects .responsive-container-block.overlay,
  .featured_projects .responsive-container-block.desc {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  /* When class 'show-overlay' is added, display overlay */
  .featured_projects .responsive-container-block.show-overlay .desc,
  .featured_projects .responsive-container-block.show-overlay .overlay {
    opacity: 1;
    visibility: visible;
  }

}


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

*,
*:before,
*:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

body {
margin: 0;
}

.wk-desk-1 {
width: 8.333333%;
}

.wk-desk-2 {
width: 16.666667%;
}

.wk-desk-3 {
width: 25%;
}

.wk-desk-4 {
width: 33.333333%;
}

.wk-desk-5 {
width: 41.666667%;
}

.wk-desk-6 {
width: 50%;
}

.wk-desk-7 {
width: 58.333333%;
}

.wk-desk-8 {
width: 66.666667%;
}

.wk-desk-9 {
width: 75%;
}

.wk-desk-10 {
width: 83.333333%;
}

.wk-desk-11 {
width: 91.666667%;
}

.wk-desk-12 {
width: 100%;
}

@media (max-width: 1024px) {
.wk-ipadp-1 {
  width: 8.333333%;
}

.wk-ipadp-2 {
  width: 16.666667%;
}

.wk-ipadp-3 {
  width: 25%;
}

.wk-ipadp-4 {
  width: 33.333333%;
}

.wk-ipadp-5 {
  width: 41.666667%;
}

.wk-ipadp-6 {
  width: 50%;
}

.wk-ipadp-7 {
  width: 58.333333%;
}

.wk-ipadp-8 {
  width: 66.666667%;
}

.wk-ipadp-9 {
  width: 75%;
}

.wk-ipadp-10 {
  width: 83.333333%;
}

.wk-ipadp-11 {
  width: 91.666667%;
}

.wk-ipadp-12 {
  width: 100%;
}
}

@media (max-width: 768px) {
.wk-tab-1 {
  width: 8.333333%;
}

.wk-tab-2 {
  width: 16.666667%;
}

.wk-tab-3 {
  width: 25%;
}

.wk-tab-4 {
  width: 33.333333%;
}

.wk-tab-5 {
  width: 41.666667%;
}

.wk-tab-6 {
  width: 50%;
}

.wk-tab-7 {
  width: 58.333333%;
}

.wk-tab-8 {
  width: 66.666667%;
}

.wk-tab-9 {
  width: 75%;
}

.wk-tab-10 {
  width: 83.333333%;
}

.wk-tab-11 {
  width: 91.666667%;
}

.wk-tab-12 {
  width: 100%;
}
}

@media (max-width: 500px) {
.wk-mobile-1 {
  width: 8.333333%;
}

.wk-mobile-2 {
  width: 16.666667%;
}

.wk-mobile-3 {
  width: 25%;
}

.wk-mobile-4 {
  width: 33.333333%;
}

.wk-mobile-5 {
  width: 41.666667%;
}

.wk-mobile-6 {
  width: 50%;
}

.wk-mobile-7 {
  width: 58.333333%;
}

.wk-mobile-8 {
  width: 66.666667%;
}

.wk-mobile-9 {
  width: 75%;
}

.wk-mobile-10 {
  width: 83.333333%;
}

.wk-mobile-11 {
  width: 91.666667%;
}

.wk-mobile-12 {
  width: 100%;
}
}


.heading-container {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 10vh;
  text-align: center;
  margin-bottom: 10px;
  line-height: 1.1em;
}

.content-image-1 {
  width: 100%; /* or a specific width like 300px */
  height: auto; /* or a specific height like 200px */
  object-fit: contain; /* or 'contain', 'fill', 'none', 'scale-down' */
  display: block; /* Ensures proper layout */
}

.heading-container p {
  text-align: center;
  width: 100%;
  padding-top: 3vh;
  font-size: 1.2em;
}

.head {
  font-size: 2.5em;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.animated-line-container2 {
  padding-top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;  
}

.animated-line2 {
  width: 0;
  height: 3px;
  background-color: #817C76;
  opacity: 0;
  transition: width 2s ease-out, opacity 0.5s ease-out;
  position: relative;
}

.animated-line-container2.animate .animated-line2 {
  width: 20%; /* Adjust width as needed */
  opacity: 1;
}
