body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFF;
    margin: 0;
    padding: 0;
}

.project-info2{
    display: none;
    margin-top: -600px;
}

div[class*=box] {
    height: 33.33%;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  hr{
    width: 40%;
  }

  .project-info{
    display: flex;
    width: auto;

  }
  .btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
    font-size:20px;
    font-weight: 400;
  }
  .project-text strong{
    letter-spacing: 2px;
    text-transform: uppercase;
}
  .btn-three {
    color: #817C76;
    transition: all 0.5s;
    position: relative;
  }
  .btn-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #c4bcb431;
    transition: all 0.3s;
  }
  .btn-three:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
  }
  .btn-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid #68645e;
    transform: scale(1.2,1.2);
  }
  .btn-three:hover::after {
    opacity: 1;
    transform: scale(1,1);
  }
.cen{
    display: flex;
    width: 100%;
    height: auto;
    position: fixed;
    top: 2em;
    z-index: 1000;
    justify-content: flex-start;
    left: 2em;
  }
.project-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
}
.project-text p{
    padding: 20px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}
/* Project Summary Default Layout */
.project-summary {
    display: flex;
    flex-direction: column; /* Stack elements vertically by default */
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    z-index: 100;
    width: 100%;
    box-sizing: border-box;
}

/* Default layout for larger screens */
@media (min-width: 600px) and (min-height: 500px) {
    .project-summary {
        position: fixed;
        top: 35%;
        left: 0;
        width: 100%; /* Adjust to fit the screen width */
        max-width: 400px; /* Optional: control the width */
        padding: 20px;
        background: rgba(0, 0, 0, 0.8);
    }

}

/* Handle Small Width and Height Cases */
@media (max-width: 600px), (max-height: 500px) {
    .project-summary {
        position: static;
        display: block; /* Stack elements in one div */
        padding: 10px;
    }

    .project-summary .project-info {
        margin-top: 10px;
    }
    .project-text p{
        padding: 0;
    }
}

.project-text {
    font-size: 1.3em;
    text-align: start;
    padding: 1em;
    max-width: 400px;
    border: 1px solid #ffffff; /* Add border */
    border-radius: 8px;
     
    
}


.desc{
    max-width: 60%;
}

.detail_proj_video{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail_proj_image {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clickable-image{
    cursor: pointer;
}

.project-details-container {
    width: 100%;
    width: 100%;
    background-color: #FFF;
    border-radius: 8px;
    z-index: 3;
    margin: 0 auto;
    box-sizing: border-box;
}



.animated-line-container3 {
    padding: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;  
}

.animated-line3 {
    width: 0;
    height: 3px;
    background-color: #817C76;
    opacity: 0;
    transition: width 2s ease-out, opacity 0.5s ease-out;
    position: relative;
}

.animated-line-container3.animate .animated-line3 {
    width: 20%; /* Adjust width as needed */
    opacity: 1;
}

.img_text_flex {
    display: flex;
    justify-content: center; /* Center content inside */
    align-items: center; /* Vertically center items */
    margin: 1em 0; /* Add some vertical spacing */
    width: 100%; /* Full width to help centering */
    max-width: 1200px; /* Optional: limit the width */
    padding: 2em;
    box-sizing: border-box; /* Include padding in width */
    text-align: center;
}
.img_text{
    margin: 15px;
}

.right {
    flex-direction: row-reverse;
}

.img_text_flex p{
    padding: 3em;
    font-size: 1.3em;
}
.img_text_flex img{
    width: 100%;
    height: auto;
    max-width: 27em;

}

.img_text_flex video{
    width: 100%;
    height: auto;
    max-width: 40em;
    min-width: 37em;
}

.center video{
    display: flex;
    justify-content: center; /* Center content inside */
    align-items: center; /* Vertically center items */
    margin: 1em 0; /* Add some vertical spacing */
    width: 100%; /* Full width to help centering */
    max-width: 1200px; /* Optional: limit the width */
    padding: 3em;
    box-sizing: border-box; /* Include padding in width */
}
.vid{
    margin: 1em;
    position: relative;
    padding: 1em;

}

.img_text_container{
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
        width: 100%; /* Full width */
        margin: 1em 0; 
}


.project-summary {
    padding: 2em;
    width: 100%;
    max-width: 1200px;
    background-color: #ffffffe9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 8px; 
}

.heading-container {
    text-align: center;
    width: 100%;
    padding-top: 5vh;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}
.project-backround {
    background: no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
    align-items: top;
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;

    box-sizing: border-box;
}

/* Skeleton Loader */
.skeleton-loader {
    height: 200vh;
    width: 100%;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 37%, #f0f0f0 63%);
    background-size: 200% 100%;
    animation: shimmer 1.4s infinite;
}


.image-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);    
    background-color: rgba(209, 209, 209, 0.8);
    z-index: 99999;
}

.fullscreen-image {
    max-width: 90%;
    max-height: 90%;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 30px;
    color: white;
    font-size: 40px;
    cursor: pointer;
    z-index: 999999;
}

.close-button:hover {
    color: #bbb;
}

.fullscreen-image {
    max-width: 90%;
    max-height: 90%;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}

.close-button:hover {
    color: #bbb;
}
.project-summary {
    position: static; /* Default for smaller screens */
    padding: 20px;
    color: black;
    z-index: 100;
    width: 100%;
    box-sizing: border-box;
}




@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}

@media (min-width: 700px) and (min-height: 650px) {
    .project-info {
        position: fixed;
        top: 35%;
        left: 0;
        margin: 10px;
        display: none;
    }
    .project-info2 {
        display: block;
        position: -webkit-sticky; /* For Safari */
        position: sticky;
        bottom: 0;
        padding-bottom: 20px;
        z-index: 10; /* Adjust if needed */
        background-color: white; /* Or set to the desired background color */
        padding-left: 20px;
        color: white;
        z-index: 99;
        border-radius: 10px;
        width: 100%;
        max-width: 400px;
    }
    .project-text{
        background: #817C76;

    }
    .desc{
        position: relative;
    }

}

@media (max-width:2000px){
    .heading-container {
      padding-top: 0vh;
    }
  
  }

/* Responsive adjustments */


@media (min-width: 1400px) {
    .project-summary {
        width: 60%;
        margin:  auto;
    }
}


@media (max-width:2000px){
  .heading-container {
    padding-top: 0vh;
  }

}

@media (max-width:1750px){
    .project-summary p{
        padding: 10px;
    }
    .project-text{
        width:300px;
    }
    .project-info {

        max-width: 300px;

    }
  }
@media(max-height: 850px) {
    .project-text p{
        padding: 0;
    }
    hr{
        display: none;
    }
}

@media(min-width:1600px){
    .project-text {
        font-size: 1.1em;
        text-align: center;
        width: 100%;
    
    }

    .heading-container h1 {
        font-size: 1.5em;
        margin: 0;
        padding: 10px;
    }
}

@media(max-width:1000px){
    .img_text_flex{
        flex-direction: column;
    }
    .img_text_flex p{
        font-size: 0.9em;
    }
}

@media(max-width:1200px){
    .project-text {
        font-size: 1em;
        text-align: center;
        padding: 1em;
        border: 1px solid #000; /* Add border */
        border-radius: 8px; 
    
    }
    .heading-container h1 {
        font-size: 1em;
        margin: 0;
        padding: 10px;
    }
    .img_text_flex p{
        font-size: 1em;
    }
}


@media(max-width:800px){
    .img_text_flex p{
        font-size: 1.1em;
    }

    .img_text_flex video{
        min-width: 10em;
    }
}

@media(max-width:600px){
    .heading-container{
        margin: 0;
    }
    .img_text_flex{
        font-size: 0.9em;
        padding-top: 1;
    }
    .img_text_flex p{
        padding: 1em;
    }

}

@media (min-width: 708px) {
    .project-summary {
        width: 80%;
        margin: auto;
    }
    .project-text {
        font-size: 1.1em;
        text-align: start;
        padding: 1em;
        border: 1px solid #000; /* Add border */
        border-radius: 8px; 
    }
    hr{
        width: 70%; 
    }
    .heading-container h1 {
        font-size: 1.3em;
        margin: 0;
    }
    .heading-container  {
        padding-top: 0;
    }

}

